/* Fuentes*/
@font-face {
    font-family: "SFMono";
    src: url(sf-mono-cufonfonts/SFMonoBold.otf), bold;
    src: url(sf-mono-cufonfonts/SFMonoHeavy.otf), bolder;
    src: url(sf-mono-cufonfonts/SFMonoLight.otf), lighter;
    src: url(sf-mono-cufonfonts/SFMonoRegular.otf), normal;
  }



  :root {
    --primario: #4A4A4A;
    --secundario: #87AF4A;
    --grisoscuro: #8892b0;
    --gris: #3A3A3A;
    --contraste: #112240;
    --azulmorado: #ccd6f6;
    --grisclaro: #e8e8e8;
    --blanco: #fff;
    --negro: #000000;
    --fuentePrincipal: "Roboto", sans-serif;
    --fuenteSecundaria: "Open Sans", sans-serif;
  }
  html {
    font-size: 62.5%;
    box-sizing: border-box;

  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  li{
    list-style: none;
  }
  a{
    text-decoration: none!important;

  }
  img{
    width: 100%;
  }
  ul, li{
    margin:0 0 0 0;
    padding:0 0 0 0;
   }
  [class$="__contenedor"] {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
  }
  body {
    font-family: 'Montserrat';
    font-size: 1.6rem;
    line-height: 1.8;

  }
  html, body {
    margin: 0;
    padding: 0;

}
* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

  button {
    background: transparent;
    border: 1px solid var(--button-color, #000);

  }

  .header {
    position: sticky;
    top: 0;
    width: 100%;
    background: black; /* Asegura que tenga fondo */
    z-index: 100; /* Lo mantiene por encima de otros elementos */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
}

.header__contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 9rem;
}
@media (max-width: 450px) {
    .header__contenedor{
        justify-content: space-between;
    }

}
  .header__logo{
    width: 20%;

  }

  .header__logo img {
    margin-top: 5px;
    width: 6rem;
    object-fit: cover;
  }
  .header__logo img:hover {
    width: 5rem;

  }
  .header__nav {
    display: flex;
    align-items: center;
    width: 75%;

  }
  .header__nav ul a:hover{
    color: black;
    background: white;

  }
  .header__nav ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;


  }
  .header__nav a{
color: white;
font-size: 1.8rem;
font-weight: 600;
padding-top: 2rem;
padding-bottom: 2rem;
padding-left: 1rem;
padding-right: 1rem;
border-radius: .5rem;
  }

/* Estilos generales para el contenedor del menú */
.menu{
   display: none;
}
/* Media Query para pantallas pequeñas */

@media (max-width: 950px) {

}
@media (max-width: 949px) {
    .menu{
        display: block;
        margin-top: 0rem;
    }
    .menu {
        position: relative;
    }
    .header__contenedor{
        justify-content: space-between;
    }
    .menu__toggle {
        width: 30px;
        height: 25px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu__toggle span {
        display: block;
        height: 4px;
        background: white;
        border-radius: 2px;
        transition: 0.3s;
    }


    .menu__items {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: black;
        color: #fff;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        z-index: 1000;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        padding-top: 4rem;

    }
    .menu__items p{
        background-color: #333;
        text-align: center;

    }

    .menu__items a {
        color: #fff;
        text-decoration: none;
        padding: 10px 0;
        display: block; /* Asegura que los enlaces se muestren en bloque */
        font-weight: 300;
    }
    .menu__items a:hover{
        border-right: solid 4px #86ae49;
        color: #688839;
        margin-right: 3rem;
    }



    /* Clase para mostrar el menú cuando está abierto */
    .menu.open .menu__items {
        display: flex; /* Muestra el menú cuando tiene la clase 'open' */
    }

    /* Animación del botón de hamburguesa */
    .menu.open .menu__toggle span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu.open .menu__toggle span:nth-child(2) {
        opacity: 0;
    }

    .menu.open .menu__toggle span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
    .menu__close {
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 2002; /* Asegura que el botón esté por encima del contenido */
    }
    .header__nav {
        display: none;  /* Oculta el menú de navegación en pantallas pequeñas */
    }

    .menu.open .header__nav {
        display: flex;
    }

    .menu__items {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;  /* Asegura que el menú ocupe toda la altura de la pantalla */
        z-index: 1000;
    }

    /* Asegura que el botón de hamburguesa se vea siempre */
    .menu__toggle {
        z-index: 2001; /* Asegura que el botón se muestre por encima del menú */
    }
}




  @media (min-width: 768px) {

  }


  @media (min-width: 950px) {
    .burger_menu{
      display: none;
    }
  }

  @media (max-width: 950px) {
    .header__nav{
     display: none;
    }



    .button-three {
      --button-color: black;
      overflow: hidden;
    }

    .button-three .hamburger {
      transition: translate 1s, rotate 1s;
    }

    .button-three[aria-expanded="true"] .hamburger {
      translate: 10px -10px;
      rotate: 0.125turn;
    }

    .button-three .line {
      transition: 1s;
      stroke-dasharray: 60 31 60 300;
    }

    .button-three[aria-expanded="true"] .line {
      stroke-dasharray: 60 105 60 300;
      stroke-dashoffset: -90;
    }



  }
  .logo-mibile-menu{
    margin-top: 2rem;
    width: 15rem;
    object-fit: cover;
    opacity: 0.2;
  }



  .sub_papel__contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    width: 100%;
    padding: 1rem 0;
    background-color: #fff;
    position: fixed;
    left: 50%; /* Ajusta la posición horizontal */
    transform: translate(-50%, 0%);

    z-index: 20;
  }


  .sub_papel-persianas__contenedor{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    background-color: #fff;
    padding: 1rem 0;
    position: fixed;
    left: 50%; /* Ajusta la posición horizontal */
    transform: translate(-50%, 0%);
    z-index: 20;
  }

  .sub_papel-cortina__contenedor{
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    width: 100%;
    padding: 1rem 0;
  }
  .inactivo{
    display: none;
  }





  .sub_cat__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .sub_cat__grid-uno{
    display: grid;
    grid-template-columns: 1fr ;

  }
  .margen{
    margin-left: 2rem;
  }
  .sub_cat__grid-tres{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-left: 2rem;
  }


  .sub_cat__box{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    flex-direction: column;

  }
  .sub_cat__box img{
     width: 80px;
  }
  .sub_cat__box--block{
    display: block;
    text-align: center;
  }
  .sub_cat__box--block h3{
    display: inline;
    margin: 0 0 0 0;
    text-align: center;

  }

  .sub_cat__box:hover{

    border-radius: 0px;
    background: linear-gradient(315deg, #e6e6e6, #ffffff);
    box-shadow:  -5px -5px 10px #cfcfcf,
                 5px 5px 10px #ffffff;
  }



  .green__line{
    height: .1rem;
    background-color: #87AF4A;
    width: 80%;
    margin-bottom: 2rem;
    margin-left: 10%;
  }
  .sub_cat__title{
    color: #3a3a3a;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }
  .sub_cat__namecol{
    font-size: 1.5rem;
    margin-left: 1rem;
    color: #3a3a3a;
    font-weight: 400;
    margin-top: 1rem;
  }


  .producto-detalle{
    display: grid;
    grid-template-columns: 1fr 1fr
}
.descripcionl img{
    width: auto;
}



.imagen-principal {
    flex: 2;
    margin-right: 1rem;
}



.miniatura {
    cursor: pointer;
    transition: transform 0.3s;
}

.miniatura:hover {
    transform: scale(1.1);
}


/* distribuidores */


.distribuidor--baner {
    position: relative;
    background-image: url(https://decorapro-wp.s3.amazonaws.com/2023/01/Contacto-1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.distribuidor--baner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Oscurece la imagen */
}

.distribuidor--baner h1 {
    margin: 0;
    color: #fff;
    font-size: 5rem;
    font-weight: 400;
    position: relative; /* Para que esté por encima del fondo oscuro */
    z-index: 1;
}


.distribuidor--baner--line{
    background-color: #fff;
    width: 60%;
    height: 2px;
}
@media (max-width: 500px) {
.distribuidor--baner{
    display: none;
}
}
.distribuidir--contacto{
    text-align: center;
    margin-bottom: 5rem;

}
.distribuidir--contacto p{
    font-size: 4rem;
    color: #54595F;

}
.distribuidir--contacto--menu{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
@media (max-width: 480px) {

    .distribuidir--contacto--menu{

        grid-template-columns: 1fr ;
    }
}



.distribuidir--contacto--menu div{
text-align: center;
}
.distribuidir--contacto--menu div i{
    color: #69727d;
    font-size: 6rem;
}

.distribuidir--contacto--menu div p{
        color: #69727d;
        font-size: 3rem;
        margin: 0;
}

.distribuidir--contacto--menu div a{
            color: var(--secundario);
            font-size: 2.5rem;
            margin: 0;
}

.form-distribuidor-contacto input,.form-distribuidor-contacto select {
margin-bottom: 1rem;
height: 4rem;
color: #69727d;
}

.distribuidor--formulario{
display: grid;
grid-template-columns: 1fr 1fr;
column-gap: 5rem;
margin-bottom: 5rem;
}
@media (max-width: 480px) {
    .distribuidor--formulario{
    grid-template-columns:  1fr;
    row-gap: 4rem;

    }
}
.form-inter-d{
 display: flex;
}
.form-inter-d input{
    width: 50%;
    height: 4rem;
    border:#c5c5c5 1px solid;

}
.form-distribuidor-contacto input, .form-distribuidor-contacto textarea, .form-distribuidor-contacto select{
    border:#c5c5c5 1px solid;

}
.form-distribuidor-contacto{
    display: flex;
    flex-direction: column;
}

.slider-distribuidor div img{
    max-height: 40vh;

}
.slider-distribuidor--main div img{
    max-height: 90vh;

}



.form-dis-b{
    margin-top: 1.5rem;
    width: 100%;
    display: block;
    background-color: #86ae49;
    border: 0px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #fff;
    font-weight: 600;


}






  .footer{
    background-color: #000000;
margin-top: 5rem;}
  .footer__contenedor{

    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #fff;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .footer2__contenedor{

    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #fff;
  }
  .footer__contenedor a{
    color: #ECECEC;
  }
  .footer2__contenedor a{
    color: #ECECEC;
  }
  .footer2__contenedor a{
      height: 4rem;
      text-align: center;
  }

  @media (max-width: 480px) {
    .footer2__contenedor a{
        height: 4rem;
        text-align: center;
        font-size: 1rem;
    }
    .footer2__contenedor{
        display: flex ;
        justify-content: space-between;
        width: 100%;
        margin-top: 2rem;
    }

  }

  .footer__menu p{
    font-size: 15px;
    font-weight: 600;
  }
  .footer__menu li a{
    font-size: 15px;
  }

  .footer__list a{
    color: #fff;
  }
  .footer__list-2{
    display: flex;
    justify-content: space-evenly;
  }
  .footer__icon{
    font-size: 20px;
    color: var(--secundario);
  }
  .footer__list i{
    color: #86ae49;
    margin-right: 1rem;
    font-size: 2rem;
  }
  .footer3{
    display: block;
  }
  .footer3 P{
    text-align: center;
  }

  .social-media-icon{
    width: 20%;
    width: auto;
  }
  .social-media-icon i{
    font-size: 4rem;
    color: #86ae49;
    background: red;
  }

  .footer--gris{
    background-color: #43464B;
    display: flex;
    width: 100%;
    color: #fff;
  }

  .footer__from , .footer__from2{
    display: flex;
    flex-direction: column;
  }

  .footer__from input, .footer__from2 input{
    border: 0px;
    padding: 0px;
  }
  .footer__from input:not([type=submit]), .footer__from2 input:not([type=submit]){
    padding: 0px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 5px;
    background-color: #FFFFFF17;
    color: #fff;
    border-color: #000;
  }
  .footer__from select , .footer__from2 select{
    background-color: #FFFFFF17;
    color: #717070;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-color: #000;

}
  .footer__from textarea, .footer__from2 textarea{
    background: #FFFFFF17;
    margin-top: 1rem;
    border-color: #000;
    color: #fff;

  }
  .footer__from input[type=submit], .footer__from2 input[type=submit]{
    border-color: #86ae49;
    background-color: #86ae49;
    color: #fff;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;
    width: 100%;
  }
  .formulario-tapi button{
   color: #fff!important;
  }
  .iconosmain{
    padding-top: 50px;
    padding-bottom: 50px;
       display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    text-align: center;
    gap: 10px;
  }
  .footer--sub-2{
    margin-left: 2rem;
    margin-right: 2rem;
}

.fotter-div-thwo-form{
display: grid;
grid-template-columns: 1fr 1fr;
column-gap: 1rem;

}
@media (max-width: 470px){
    .fotter-div-thwo-form{
        display: grid;
        grid-template-columns: 1fr;

        }
}

  @media (max-width: 768px) {

    .iconosmain{

        display: grid;
        grid-template-columns: 1fr 1fr  ;

      }
  }
  .footer--sub-2{
    display: none;
}
  @media (max-width: 480px) {
    .footer--sub-3{
        display: none;
    }
    .footer--sub-2{
        display: block;
        padding-top: 2rem;
     margin-bottom: 5rem;
    }
    .footer__contenedor{
        margin-left: 0rem;
        margin-right: 0rem;
    }
  }
  .footer--sub-2 p{
        color: #fff;
        margin-top: 2rem;
        text-align: center;
    }

  .iconosmain--icon .fa-sharp, .iconosmain--icon .fa-solid{
    color: #87AF4A;
    font-size: 50px;
  }
  .iconosmain--icon h4{
   font-size: 17px;
  }

  .whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.whatsapp-button img {
    width: 40px;
    height: 40px;
}

.whatsapp-button:hover {
    transform: scale(1.1);
}
.whats__icon{
 color: #fff;
 font-size: 40px;

}
.whats__icon:hover{
    font-size: 40px;

   }
  .form-radio p{
    font-size: 2rem;
    color: #86ae49;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  .formulario-tapiz button{
    margin-top: 2rem;
    width: 80%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 0px;
    background-color: #86ae49;
    border: 2px solid #86ae49;
    border-radius: 2rem;
  }
  .boton-verde{
    margin-top: 2rem;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 0px;
    background-color: #86ae49;
    border: 2px solid #86ae49;
    border-radius: .5rem;
    color: #fff;
  }
  .boton-verde:hover{
   background-color: #00000000 ;
  }

  .papel-grind--body{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 5rem;
  }

  .papel-baner{
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin-bottom: 5rem;
    background-color: #f2f2f2;
    column-gap: 2rem;
  }
  .papel-baner-img{
    background-image: url(https://decorapro-wp.s3.amazonaws.com/2023/01/behang_honingraat.jpg);
    background-position: center;
    background-size: cover;
  }
  .textop{
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
  .textop p{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 5rem;
    color: #000;
  }
  .titulosindex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;

  }



  .titulosindex h4{
    font-size: 5rem;
    margin: 0;
    line-height:1;
  }
  .titulosindex-m{
    border-right: solid 4px#000;

  }
  @media (max-width: 550px) {
    .titulosindex h4{
        font-size: 2rem;
      }
      .textop p{
        text-align: center;
        font-size: 1.5rem;

      }
  }
  @media (max-width: 350px) {
    .titulosindex h4{
        font-size: 2rem;
      }
      .textop p{
        text-align: center;
        font-size: 1rem;

      }
  }
.papel-baner-text h1{
    margin: 0;
    color: var(--secundario);
    padding-top: 2rem;
    font-size: 4rem;
}
.papel-baner-text p{
    padding-bottom: 2rem;
    margin: 0;
    font-size: 2.5rem;
}
@media (max-width: 768px) {
    .papel-baner-text h1{ font-size: 2rem;}
    .papel-baner-text p{

        font-size: 1.5rem;
    }
}


  .papel-grind{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    padding: 1rem 0;
    gap: 2rem;

  }

  .form-radio{
    display: flex;
    flex-direction: column;
  }

  .card-papel{
    width: 22rem;

  }
  .img-papel{
    max-height: 22rem;
    min-height: 22rem;
  }
  @media (max-width: 768px) {
    .papel-grind{
    grid-template-columns:  1fr 1fr 1fr;

    }
  }
  @media (max-width: 480px) {
    .papel-grind--body{
        display: flex;
        flex-direction: column;
    }
    .papel-grind{
    grid-template-columns:  1fr 1fr;

    }
    body > main > div.pagination > nav > div.hidden.sm\:flex-1.sm\:flex.sm\:items-center.sm\:justify-between > div:nth-child(2){
        display: none;
    }
    .card-papel{
        max-width: 15rem;

    }
    .img-papel{

        max-height: 15rem;

        max-width: 20rem;
    }
    .papel-grind{
        gap: 1rem;
    }
  }






.card-papel p{
    color: #4A4A4A;
    margin: 0;
  }
  .card-papel-fabri{
    font-size: 1.2rem;
  }
  .card-papel li{
    font-size: 1.5rem;
    color: #86ae49;
  }

  .img-papel{
    margin:0;
  }


  .menuindex__contenedor{
     margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
  }

.tapiz--cuadro{
    background-image:url(https://decorapro-wp.s3.amazonaws.com/2023/01/Papel-Tapiz-Flores-2-edit2-2.webp);

}
.tapiz--cortina{
    background-image:url(https://decorapro-wp.s3.amazonaws.com/2023/01/cortina-recamara-2.webp);

}
.tapiz--perciana{
    background-image:url(https://decorapro-wp.s3.amazonaws.com/2023/01/Idea-Persiana-Sheer-Translucida-1-1-1.webp);

}
.tapiz--auto{
    background-image:url(https://decorapro-wp.s3.amazonaws.com/2023/01/integracion-vti-app-automatizacion-2.webp);

}
  .menuindex__cuadro{
    min-height: 25rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    background-blend-mode: darken;
    transition: background-color 0.3s ease;

}

@media (max-width: 480px) {
    .menuindex__cuadro{
        min-height: 20rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0);
        background-blend-mode: darken;
        transition: background-color 0.3s ease;

    }
}
.menuindex__cuadro:hover{
    background-color: rgba(0, 0, 0, 0.5);

}


.menuindex__cuadro h3{
    display: inline;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 20px;
}




.menuindex__cuadro:hover h3{
    background-color: rgba(0, 0, 0, 0);

}

.marcas_pape {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    align-items: center;
    justify-content: center;


}
.svg_container{
    display: flex;
  align-items: center;
  justify-content: center;
  width: 150px; /* Ajusta según el tamaño deseado */
  height: 150px; /* Ajusta según el tamaño deseado */
}
.svg_container svg {
    width: 100%;
    height: 100%;

  }
.menubody-papel-img{
 font-size: 50px;
 font-weight: 600;
 text-align: center;
 align-content: center;

}

.menubody-papel-img p{
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background: rgba(255, 255, 255, 0.47);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}

.menubody-papel-peque div{
     text-align: center;
     align-content: center;
}


.button-link-main{
    display: inline;
    background-color: #87AF4A;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 25px;

}
.button-link-main-description{
    margin: 0px;
    color: #fff;
    font-size: 2rem;
}
@media (max-width: 480px) {
    .button-link-main-description{
        font-size: 2rem;
        margin-top: 5rem;

    }

}

.menubody-papel{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 2rem;
    min-height: 30rem;
}
.menubody-papel-peque{

    display: grid;
    background-image: url(https://decorapro-wp.s3.amazonaws.com/2023/01/Papel-Tapiz-Arte-Deco-Rosa-Oro.jpg-1.webp) ;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}




.menubody-papel-peque p{
    display: inline;
}


.menubody-papel-img{
    background-image: url(https://decorapro-wp.s3.amazonaws.com/2023/01/139146_1_w41_1.jpg);

}

.menubody-papel-video p {
    font-size: 50px;
    color: #000;
    font-weight: 600;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background: rgba(255, 255, 255, 0.47);
     text-transform: uppercase;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.menubody-cortina{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 2rem;
    min-height: 30rem;
}
#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover;}
.video-background {
    text-align: center;
    align-content: center;
    position: relative;
    width: 100%;
    height: 35vh; /* El video cubrirá toda la altura de la pantalla */
    overflow: hidden;
}
.content {
    position: relative;
    z-index: 1; /* Asegura que el contenido esté sobre el video */
    color: white;
    text-align: center;

}
.menubody-cortina-peque{
    display: grid;
    background-image: url(https://decorapro-wp.s3.amazonaws.com/2023/01/cortinas-blackout-hotel.jpg-1.webp) ;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}
.menubody-cortina-peque div{
    display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */

    text-align: center;
    margin: 10px;

}



.portadaper{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://decorapro-wp.s3.us-east-1.amazonaws.com/web/en03.webp);
    min-height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.portadaper--title{
    color: #fff;
    font-size: 6rem;
    margin: 0;

}
.portadaper--sub--title{
    color: #fff;
    font-size: 3rem;
    margin: 0;
    margin-top: 3rem;
}
.content--perciana--iconos{
    display: flex;
    display: inline-flexbox;
    gap: 2rem;
    margin-left: 2rem;
}
.content--perciana{
    background-color: #0e122c8e;

}

.content--perciana h2, .content--perciana p{
    margin-left: 1rem;
}
.content .content--perciana{
    text-align: left;
    margin-left: 2rem;
    margin-right: 2rem;
}
.content--perciana--icon  svg{
 width: 5rem;
 height: 5rem;
 margin: 0;
}
.content--perciana--icon  p{
            margin: 0;
   }
.fa-apple{
    font-size: 5.5rem;
    height: 5rem;
   }
.cadr--menu{
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5rem;
    row-gap: 5rem;
}

.cardunity{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-bottom: 5rem;

}

.cardunity:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}
.cardunity__image img{
    max-height: 24vh;
    min-height: 24vh;
}
.cardunity__content h3{
 color: #4A4A4A;
text-align: center;
font-size: 25px;
font-weight: 500;
margin-top: 2rem;
}


.cardunity__content p{
 text-align: center;
 color: #4A4A4A;

}

@media (max-width: 768px) {
    .cadr--menu{
        margin-top: 10rem;
        margin-bottom: 10rem;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        column-gap: 2rem;
        row-gap: 5rem;
    }
    .portadaper--title{
        font-size: 3rem;
    }
    .cardunity__content h3{
        color: #87AF4A;
       text-align: center;
       font-size: 20px;
       font-weight: 500;
       }

}

table {
    width: 100%; /* Ajusta la tabla al ancho del contenedor */
    border-collapse: collapse; /* Combina bordes adyacentes */
    margin: 20px 0; /* Agrega un margen superior e inferior */
}

th, td {
    border: 1px solid #ccc; /* Borde gris de 1px */
    padding: 10px; /* Espaciado interno de las celdas */
    text-align: left; /* Alinea el texto a la izquierda */
}

th {
    background-color: #f5f5f5; /* Fondo gris claro para las cabeceras */
    font-weight: bold; /* Negrita para el texto de las cabeceras */
}

td {
    background-color: #fff; /* Fondo blanco para las celdas */
}


.portadaper-video{
    display: grid;
    grid-column: 1fr;
}

.portacortina{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://decorapro-wp.s3.amazonaws.com/2023/01/cortina-2-2.jpeg);
    min-height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cortina-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.portacortina h1{
 color: #fff;
 font-size: 4rem;
 margin: 0;
}
.portacortina p{
    color: #fff;
    font-size: 2rem;
    margin: 0;

   }
   .fa-paintbrush{
    color: #000;
    font-size: 2rem;
    width: 50px;
    height: 50px;
}
.cortina-line-full{
    height: 1px;
    width: 63%;
    background-color: #87AF4A;
}
.cortina-title-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.cortina-line-mid{
    height: 1px;
    width: 30%;
    background-color: #87AF4A;

}
.fa-ruler-combined{
    font-size: 3rem;
    color: #69727d;

}

.filter-buttons {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .filter-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    border: 2px solid #ccc;
    cursor: pointer;
    color: #535353;
    border-radius: 0px;
    transition: all 0.3s ease;
  }
  .filter-buttons button.active,
  .filter-buttons button:hover {
    border-color: #86ae49;
    color:#86ae49;
  }


.telas-galeri .gallery2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin-bottom: 5rem;
}
.gallery-item.hidden {
   display: none;
  }

  .hiddenn {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Mostrar elementos con opacidad total */
.gallery-item {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Animación personalizada al aparecer */
.gallery-item.fade-in {
    animation: fadeIn 0.5s ease forwards;
}




/* Keyframes para el efecto de entrada */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.cortinas-main{
display: grid;
grid-template-columns: 2fr 3fr;
gap: 4rem;
background-color:#f2f2f2;
color: #54595F;
margin-top: 5rem;
margin-bottom: 5rem;
align-items: center;
}

.cortinas-main-v2
{
    background-color:#f2f2f2;
    color: #54595F;
    margin-top: 5rem;
    margin-bottom: 5rem;
    align-items: center;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 300;
    }
.cortinas-main-v2-galeri{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 1rem;
}
@media (max-width: 450px) {
    .cortinas-main-v2{
        font-size: 2rem;
    }
    .cortinas-main-v2-galeri{
        grid-template-columns: 1fr 1fr ;
    }


}


.cortinas-texto h3{
    text-align: center;
}

.telas-galeri-title p{
    color:#54595F ;
    text-align: center;
    font-size: 30px;
    margin-top: 5rem;
}

.iconos-telas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 5rem;
}

@media (max-width: 480px) {
    .iconos-telas{
        display: grid;
        grid-template-columns: 1fr  ;
        gap: 5rem;

    }
}
.icono-tela{
    text-align: center;
}
.fa-pen, .icono-tela .fa-medal,.icono-tela .fa-wifi  {
    font-size: 5rem;
    text-align: center;
    color: var(--secundario);

}
.icono-tela-text p{
    font-size: 1.5rem;
    color: #53595F;

}
@media (max-width: 768px) {

    .telas-galeri .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        gap: 2rem;
        margin-bottom: 5rem;
    }
    .filter-buttons {
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        row-gap: 2rem;
      }

}

.content--perciana--automa h2{
  font-size: 5rem;
  font-weight: 500;
}
.content--perciana--automa{
    margin: 0 auto;

}
.line-white{
    height: 2px;
    width: 60%;
    background-color: white;
    margin: 0 auto;
}

.portadaper-video-auto{
    height: 50vh;
}

.video-background-auto{
    height: 50vh;

}
.green--line{
    width: 50%;
    height: 2px;
    background-color: var(--secundario);
    margin: 0 auto;

}
.text-aps-com{
font-size: 2rem;
text-align: center;
color: #53595F;


}

.iconos-auto-menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4rem;
}
.iconos-auto-menu div img{
    width: 10rem;
}
.iconos-auto-menu{
    text-align: center;
}
.iconos-auto-menu h3{
    font-size: 3rem;
    margin: 0;
    color: #53595F;
    font-weight: 400;
}
.iconos-auto-menu p{
    font-size: 1.5rem;
    margin: 0;
    color: #53595F;
}
.iconos-auto-menu i{
    font-size: 4rem;
    color: #53595F;
    margin: 1rem;
}
@media (max-width: 1000px) {
    .iconos-auto-menu{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 4rem;
    }
}
@media (max-width: 380px) {
    .iconos-auto-menu{
        display: grid;
        grid-template-columns: 1fr  ;
        gap: 4rem;
    }
}

.gris-seccion-auto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ECECEC;
    margin-bottom: 5rem;
}
.benefi-auto{
    margin-top: 5rem;
    margin-right: 2rem;
    margin-bottom: 5rem;
}
.gris-seccion-auto h4{
    font-size: 4rem;
    font-weight: 400;
    color: #54595F;
    margin-left: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}
.gris-seccion-auto div h4{
    text-align: center;
    margin: 0;
    line-height: 1;
    margin-top: 5rem;
}
.gris-seccion-auto div p{
    text-align: center;
}
.iconos-auto-gris-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.iconos-auto-gris-grid img{
    width: 15rem;
    margin: 0 auto;
}
.benefi-auto-text h5{
 font-size: 2.5rem;
 font-weight: 400;
 margin: 0;
 color: #4A4A4A;
}

.benefi-auto-text p{
 font-size: 1.5rem;
 font-weight: 400;
 margin-bottom: 2rem;
 margin-top: 0;
 color: #4A4A4A;
}

.benefi-auto-icon i{
    color: var(--secundario);
    font-size: 6rem;


}
.benefi-auto-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2rem;
}
.benefi-auto-cat{
    display: flex;

}

@media (max-width: 700px) {
    .gris-seccion-auto{

        grid-template-columns: 1fr ;

    }
}


.slide-image {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.play-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

#videoModal.hidden {
    display: none;
}





@media (max-width: 768px) {
    .footer{
        }
        .footer__contenedor{

            display: block;
          }
          .container,#container {
            height: 50vh;
          }

          .menuindex__contenedor{

            display: grid;
            grid-template-columns: 1fr 1fr ;
            gap: 1rem;
          }
          .marcas_pape {
            margin-top: 5rem;
            display: grid;
            grid-template-columns: 1fr  1fr ;
            column-gap: 2rem;
            align-items: center;
            justify-content: center;

        }
        .svg_container{

            margin: 0 auto;
        }
        .footer__menu p{
            text-align: center;
            padding-top: 3rem;
        }
  }
  @media (max-width: 500px) {
    .footer__list {
       text-align: left;

      }

      .footer__menu{
        display: none;
      }

      .footer__menu p{
        text-align: left;
      }
  }


  @media (max-width: 500px) {
    .footer__contenedor{
   display: none;
  }}

  @media (max-width: 768px) {
    .menubody-papel{

        display: grid;
        grid-template-columns: 1fr ;
       row-gap: 2rem;

    }
    .menubody-cortina{

        display: flex;
        flex-direction: column-reverse;

        row-gap: 2rem;


    }
    .menubody-cortina div{
        width: 100%;
        min-height: 15rem;

    }
    .menubody-papel div{
        min-height: 15rem;
        direction: rtl;
    }

  }

  .pagination{
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
.pagination nav{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
}
.pagination nav div{
    margin: 0 auto;
}
.pagination nav div div:nth-child(2) span{
    display: flex;

}
div > span > a  {
    background-color: #fff;
    border: solid 0px;
    color: #000;
    padding-right:1rem ;
    padding-left:1rem ;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;


}
div > span > span  {
    background-color: #e7f5d3;

    color: #000;
    padding-right:1rem ;
    padding-left:1rem ;
    border-radius: .5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;


}
div:nth-child(2) > span > a > svg , span:nth-child(1) > span > svg{
    width: 50px;
}

body > main > div.pagination > nav > div.flex.justify-between.flex-1.sm\:hidden{
    color: #000;
}

body > main > div.pagination > nav > div.flex.justify-between.flex-1.sm\:hidden > a:nth-child(1), body > main > div.pagination > nav > div.flex.justify-between.flex-1.sm\:hidden > a:nth-child(2){
    color: #000;
}
.slider-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
  }

  .slider {
    display: flex;
    transition: transform 5.5s ease;
  }

  .slide {
    min-width: 100%;
    box-sizing: border-box;
  }

  .slider-container--main{
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
  }
  .distribuidor--formulario--inter--fotos{
    display: grid;

    justify-content: center;
    align-items: center;
  }

  .distribuidor--formulario--inter--fotos button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;

  }
  .distribuidor--formulario--inter p{
    font-size: 2.5rem;
    color: #53595F;
    text-align: center;
    margin-top: 0;
  }

  button.prev {
    left: 10px;
    transform: translateY(-50%);
  }

  button.next {
    right: 10px;
    transform: translateY(-50%);
  }
  .producto-detalle{
    display: grid;
    grid-template-columns: 1fr 1fr
}
.descripcionl img{
    width: auto;
}


.galeria {
    display: flex;
    overflow-y: hidden;
    max-height: 75vh;
}

.imagen-principal {
    flex: 2;
    margin-right: 1rem;
}

.miniaturas .producto-min {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    width: 100px;

}
.miniaturas{

    overflow-y: auto;
    margin-right: 2rem;
}

.miniatura {
    cursor: pointer;
    transition: transform 0.3s;
}

.miniatura:hover {
    transform: scale(1.1);
}

  .info-papel{
    display: grid;
    grid-template-columns: 2fr 3fr;
  }
  .bread-crum{
    color: var(--secundario);
  }
  .papel-etiqueta{
    font-size: 1rem;
    color: var(--secundario);
  }

  .descripcionl{
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .descripcionl-papel{
    color: #53595F;
    font-size: 2rem;
    font-weight: bold;
  }
  @media (max-width: 480px) {
    .descripcionl-papel{
     text-align: center;
      }
  }

.gallery{
    position:relative;
    width:300px;
    height:200px;
    transform-style:preserve-3d;
    animation:rotate 35s linear infinite;
  }

  @keyframes rotate{
    from{
      transform:perspective(1200px) rotateY(0deg);
    }

    to{
      transform:perspective(1200px) rotateY(360deg);
    }
  }
  @media (max-width: 480px) {
    .producto-detalle{
        display: block;
    }
  }

  .gallery span{
    position:absolute;
    width:100%;
    height:100%;
    transform-origin:center;
    transform-style:preserve-3d;
    transform:rotateY(calc(var(--i) * 45deg)) translateZ(380px);
  }

  .gallery span img{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
  }

  .cortinas-main-v3{
    display: grid;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  body-v2{

  }


  .grid {
    width: 100%;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .grid-block {
    width: 50%;
    min-height: 11.25rem;
    padding: 1rem;
  }

  .image-grid {
    -webkit-transform: rotateX(45deg) rotateZ(45deg);
    transform: rotateX(45deg) rotateZ(45deg);
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }

  .image-grid .tile-link:hover .tile-img {
    top: -1rem;
    left: -1rem;
  }

  .image-grid .tile-img {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transition-property: opacity, top, left, box-shadow;
    transition-property: opacity, top, left, box-shadow;
  }

  .tile-link {
    display: block;
  }

  .tile-link:hover .tile-img {
    opacity: 1;
  }

  .tile-link:hover .tile-img-link {
    display: block;
  }

  .tile-link:hover .tile-img-link:hover .tile-img {
    opacity: 0.5;
  }

  .tile-img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 1;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.125s;
    transition-duration: 0.125s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  .tile-link:hover .tile-img1 {
    box-shadow: 5px 5px rgba(244, 170, 200, 0.4),
      10px 10px rgba(244, 170, 200, 0.3), 15px 15px rgba(244, 170, 200, 0.2),
      20px 20px rgba(244, 170, 200, 0.1), 25px 25px rgba(244, 170, 200, 0.05);
  }

  .tile-link:hover .tile-img2 {
    box-shadow: 5px 5px rgba(45, 186, 233, 0.4), 10px 10px rgba(45, 186, 233, 0.3),
      15px 15px rgba(45, 186, 233, 0.2), 20px 20px rgba(45, 186, 233, 0.1),
      25px 25px rgba(45, 186, 233, 0.05);
  }

  .tile-link:hover .tile-img3 {
    box-shadow: 5px 5px rgba(214, 221, 244, 0.4),
      10px 10px rgba(214, 221, 244, 0.3), 15px 15px rgba(214, 221, 244, 0.2),
      20px 20px rgba(214, 221, 244, 0.1), 25px 25px rgba(214, 221, 244, 0.05);
  }

  .tile-link:hover .tile-img4 {
    box-shadow: 5px 5px rgba(82, 119, 192, 0.4), 10px 10px rgba(82, 119, 192, 0.3),
      15px 15px rgba(82, 119, 192, 0.2), 20px 20px rgba(82, 119, 192, 0.1),
      25px 25px rgba(82, 119, 192, 0.05);
  }

  .tile-link:hover .tile-img5 {
    box-shadow: 5px 5px rgba(138, 218, 245, 0.4),
      10px 10px rgba(138, 218, 245, 0.3), 15px 15px rgba(138, 218, 245, 0.2),
      20px 20px rgba(138, 218, 245, 0.1), 25px 25px rgba(138, 218, 245, 0.05);
  }

  .tile-link:hover .tile-img6 {
    box-shadow: 5px 5px rgba(203, 215, 193, 0.4),
      10px 10px rgba(203, 215, 193, 0.3), 15px 15px rgba(203, 215, 193, 0.2),
      20px 20px rgba(203, 215, 193, 0.1), 25px 25px rgba(203, 215, 193, 0.05);
  }

  .tile-link:hover .tile-img7 {
    box-shadow: 5px 5px rgba(91, 209, 250, 0.4), 10px 10px rgba(91, 209, 250, 0.3),
      15px 15px rgba(91, 209, 250, 0.2), 20px 20px rgba(91, 209, 250, 0.1),
      25px 25px rgba(91, 209, 250, 0.05);
  }

  .tile-link:hover .tile-img8 {
    box-shadow: 5px 5px rgba(145, 156, 196, 0.4),
      10px 10px rgba(145, 156, 196, 0.3), 15px 15px rgba(145, 156, 196, 0.2),
      20px 20px rgba(145, 156, 196, 0.1), 25px 25px rgba(145, 156, 196, 0.05);
  }

  .tile-link:hover .tile-img9 {
    box-shadow: 5px 5px rgba(188, 97, 129, 0.4), 10px 10px rgba(188, 97, 129, 0.3),
      15px 15px rgba(188, 97, 129, 0.2), 20px 20px rgba(188, 97, 129, 0.1),
      25px 25px rgba(188, 97, 129, 0.05);
  }

  .tile-link:hover .tile-img10 {
    box-shadow: 5px 5px rgba(4, 140, 231, 0.4), 10px 10px rgba(4, 140, 231, 0.3),
      15px 15px rgba(4, 140, 231, 0.2), 20px 20px rgba(4, 140, 231, 0.1),
      25px 25px rgba(4, 140, 231, 0.05);
  }


  .formulario-tapiz button{
    color: #fff ;
    font-weight: 700;
    bottom: 20px;
    right: 20px;
  }

  .formulario-tapiz button:hover{
    color: #86ae49;
    background-color: #fff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: 2px solid #688839;
    border-radius: 2rem;
   }


  .dplay-coloresfiltro{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 1rem;
  }
  .dplay-coloresfiltro-interno{
    min-height: 2.7rem;
    background-color: #000;
    max-width: 2.7rem;
    border-radius: 5rem;
  }

  .dplay-coloresfiltro div [type="radio"]  {
    display: none;
  }

  .dplay-coloresfiltro input[type="radio"]:checked + label {
    border: 2px solid #87AF4A;
     /* Opcional: para bordes redondeados */
    padding: 2px; /* Opcional: para separar ligeramente el contenido del borde */
}
.texto__contenedor h1{
 font-size: 5rem;
 color: #3a3a3a;
 text-align: center;
}

.texto__contenedor span{
    font-size: 2rem;
    color: #3a3a3a;
    font-weight: 600;
   }
        .slider {
    display: flex;
    transition: transform 5s ease-in-out;
     /* Ajustar según la cantidad de imágenes */
}

.descripcion_ravena{
    display: grid
;
    grid-template-columns: 1fr 19fr;
}

.descripcion_ravena img{
width: 20px;
display: inline;
}
@media (max-width: 480px) {
    .descripcion_ravena img{
  margin-top: 0.5rem;
        }
  }
  body > main > div.papel-grind--body.papel-grind--body__contenedor > div.pael-fomr-body > form > div:nth-child(1) > p{
    margin-top: 0;
  }
  .descontinuadoo{
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
.busqueda-tapiz{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buscador-eng{
    width: 100%;
    margin-bottom: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 2rem;
}
.buscador-eng:focus-visible{
border: rolid 2px #87AF4A;
outline: none;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.185);
}

@media (max-width: 768px) {
    .formulario-tapiz {
        display: none;

    }
    .filtro-btn {
        display: block;
        background: #87AF4A;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        margin-bottom: 10px;
        width: 100%;
    }

    .formulario-tapiz.mostrar {
        display: block;
    }
}

@media (min-width: 769px) {
    .filtro-btn {
        display: none;
    }

    .formulario-tapiz {
        display: block;
        position: relative;
        width: auto;
        background: none;
    }
}
.loader {
    display: none; /* Ocultar por defecto */
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #3498db;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 10px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@media (max-width: 650px) {
    .swiper{
        max-width: 100%;
    }

}
div.swiper > iframe{
    max-width: 100%;
}
